html, body {
    height: 100%;
    margin: 0;
}

#main_div{
    border: solid 5px black ;
    outline: solid 2px gray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#main_div div:not(#visor){
    display: flex;
    flex: 1;
}

#visor{
    font-size: 40px;
    font-weight: 400;
    border: 5px solid black;
    margin: 50px 5px 20px 5px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

button{
    flex: 1;
    margin-right: 5px;
}

.btn_container{
    display: flex;
    padding: 2px;
}

.blank{
    background-color: white;
    border: 0;
}